@import "./variables";

* {
  font-family: "Rubik", sans-serif;
  color: $TEXTCOLOR;
  font-size: $TEXTSIZE;
  line-height: 1.4em;
}

body {
  margin: 0;
  padding: 0;
  background-color: $BACKGROUND;

  #app {
    margin: 140px 165px;
  }
}
